<ion-content>
  <div class="container">
    <ion-card *ngFor="let item of mYears">
      <ion-item>
        <ion-thumbnail slot="start">
            <img src="/assets/icon/folder.svg">
        </ion-thumbnail>
        <ion-grid>
          <ion-row>
            <ion-label>UN Matematika {{ item }}</ion-label>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button size="small" fill="clear" (click)="openDoc('un_mtk_' + item)">
                Soal
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button size="small" fill="clear">
                Pembahasan
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
