<ion-content>
    <div class="container">
      <ion-card *ngFor="let item of mYears">
        <ion-item>
          <ion-thumbnail slot="start">
              <img src="/assets/icon/folder.svg">
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label>UN IPA {{ item }}</ion-label>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button size="small" fill="clear" (click)="openDoc('un_ipa_' + item)">
                  Soal
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button size="small" fill="clear" (click)="openDoc('bahas_ipa_' + item)">
                  Pembahasan
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card>
    </div>
  </ion-content>  