<ion-header>
  <ion-toolbar color="darkmacha">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="tabsmacha">
      <ion-tab-button tab="mtk">
        <ion-icon src="/assets/icon/fxsign.svg"></ion-icon>
        <ion-label>Matematika</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ipa">
        <ion-icon src="/assets/icon/atom.svg"></ion-icon>
        <ion-label>IPA</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="theinfo">
          <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>